
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Body{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.Body1,.Body2,.Body3,.Body4{
    flex: 1;
    display: flex;
}

.Body1 , .Header , .Footer{

    background-color: #1F2937;

}
.Body3{
    padding: 32px;
    background-color: #E5E7EB;
}
.Header{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.Footer{

    display: flex;
    align-items: center;
    justify-content: center;

}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}
.Logo{
    font-size: 24px;
    color: #F9FAF8;
}
a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.Body1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
img{
    width: 400px;
    height: 200px;
  }
.Titulo{
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}
.description{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    color: #E5E7EB;
}
.Sidebar{
    width: 500px;
}
.SingUp{
    background: #3882F6;
    border: #3882F6;
    padding: 6px 16px;
    border-radius: 5px;
    color: #E5E7EB;
}
.Title2{
    font-size: 36px;
    font-weight: bold;
}
.Body2{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cartas{
    display: flex;

}
